# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs

# top-most EditorConfig file
root = true

# JavaScript and TypeScript files
[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size = 4
